html,body{
  box-sizing: border-box;
}

#modal {
  background-color: rgba(86, 120, 155, 0.4);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scale-up-center 0.1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
#modal:empty {
  display: none;
}

#modal > div {
  background-color: white;
  border: 1px solid gray;
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  z-index: 10;
}

.main-container{
  width: 80%;
  margin:50px auto;
}

.clipboard{
  display: flex;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.clipboard:hover{
  background-color: rgb(247, 241, 241);
}
.copied:hover{
  background-color: rgb(218, 253, 218);
}
.clipboard:hover .copy-icon{
  display: inline-block;
  cursor: pointer;
}
.copy-icon{
  display: none;
}

.logo{
 width: 200px;
 height: auto;
 /* overflow: hidden; */
}
.modal-container{
  max-height: 80vh;
  overflow-y: auto;
  margin-top: 20px;
}
.modal-container ul{
  padding-left: 10px;
}
/* .cover {
  object-fit: cover;
  width: 150px;
  height: 300px;
} */
.carousel-container{
  width: 350px;
  margin: auto;
  padding: 5px;
  border: 1px solid rgb(201, 193, 193);
  border-radius: 3px;
  margin-bottom: 20px;
}
.carousel-container .carousel .control-dots .dot{
  background: #0678BE;
}
.image-div{
  height: 250px;
}
.image-div img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* TABLE GROUP ICON */
.header-th:hover .icon{
  visibility: visible;
}
.icon{
  visibility: hidden;
  margin-left: 10px;
}